<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue.js demo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
</head>
<body>
    
    <div id="app" hidden>

        <nav :class="[navClass, navThemeClass]">

            <div class="container">

                <a class="navbar-brand" href="#" :title="time">{{ title }}</a>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Support</a>
                        </li>
                        <template v-if="loggedIn">
                            <li class="nav-item">
                                <a class="nav-link" href="#" :title="fullName">Account</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" @click="logout">Logout</a>
                            </li>
                        </template>
                        <template v-else>
                            <li class="nav-item">
                                <a href="#" class="nav-link" @click="login">Login</a>
                            </li>
                        </template>
                    </ul>
                </div>
            </div>
        </nav>

        <template>
            <alert class="alert-warning" :style="impactStyleObject">Scheduled maintenance begins at 14:00 ADT.</alert>
        </template>

        <div class="container pt-5" :id="dynamicId">

            <ul>
                <li v-for="user in usersByBalance" v-if="user.balance > 0">
                    {{ user.name }}: <span :class="[ lowBalance ? dangerTextClass : '' ]">${{ user.balance }}</span>
                </li>
            </ul>

            <div>Total balance: $
                <strong>{{ totalBalance }}</strong>
            </div>

            <br>

            <button @click="fundBalances" class="btn btn-success">Fund balances</button>
            <button @click="resetBalances" class="btn btn-danger">Reset balances</button>

            <br>
            <br>

            <template v-if="totalBalance === 0">
                <div class="alert alert-danger">
                    <span v-html="warningMessage"></span> Balances are empty.
                </div>
            </template>
            <template v-else-if="lowBalance">
                <div class="alert alert-warning">
                    <span v-html="warningMessage"></span> Balances are low.
                </div>
            </template>

            <br>

            <table class="table">
                <tbody>
                    <template>
                        <transaction
                            v-for="transaction in transactions"
                            :item="transaction"
                            :key="transaction.id">
                        </transaction>
                    </template>
                </tbody>
            </table>

            <hr class="my-5">

            <form action="" @submit.prevent="saveNotes">
                <div class="row">
                        <div class="col-md-6">
                            <h5>Edit</h5>
                            <textarea name="notes" id="" rows="5" placeholder="Notes" v-model="notes" class="form-control" :class="{ 'border-danger': tooManyChars, 'border-success': validChars }"></textarea>
                        </div>
                        <div class="col-md-6">
                            <h5>Preview</h5>
                            <div>{{ notes }}</div>
                        </div>
                </div>

                <br>

                <div>
                    <small :class="validTextClass">Character count: {{ notes.length }}</small>
                </div>

                <br>

                <button :disabled="!validChars" type="submit" class="btn btn-success">Save</button> 

            </form>

            <hr />

            <div>

                <p>Ask a yes/no question:</p>
                <div class="form-group">
                    <input v-model="question" class="form-control">
                </div>
                <p class="alert alert-warning">{{ answer }}</p>

            </div>

            <hr>

            <h2>Controlling reusable elements with <code>key</code></h2>

            <div class="row">
                <div class="col-sm-6">
                    <p><strong>Without</strong> <code>key</code> attribute on input field</p>
                    <template v-if="loggedIn">
                        <input type="text" class="form-control">
                    </template>
                    <template v-else>
                        <input type="text" class="form-control">
                    </template>
                </div>
                <div class="col-sm-6">
                    <p>With <code>key</code> attribute on input field</p>
                    <template v-if="loggedIn">
                        <input type="text" class="form-control" key="loggedInKey">
                    </template>
                    <template v-else>
                        <input type="text" class="form-control" key="loggedOutKey">
                    </template>
                </div>
            </div>

            <div v-show="false">This is a hidden element but still exists in DOM</div>

            <br>

            <h2>Iterate over <code>account</code> object with <strong>v-for</strong></h2>
            <ul v-for="value in account">
                <li>{{ value }}</li>
            </ul>

            <h2>Iterate over <code>account</code> object with <strong>v-for</strong> and <strong>key</strong></h2>
            <ul v-for="(value, key) in account">
                <li><strong>{{ key }}:</strong> {{ value }}</li>
            </ul>

            <h2>Iterate over <code>account</code> object with <strong>v-for</strong> and <strong>key</strong> and <strong>index</strong></h2>
            <ul v-for="(value, key, index) in account" :key="account.id">
                <li><strong>{{ index }}. {{ key }}:</strong> {{ value }}</li>
            </ul>

            <!-- Add 3 breaks -->
            <br v-for="n in 3">


        </div>

    </div>
    
    <script src="vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
    <script src="script.js"></script>

</body>
</html>